POSTGRES_DB=nombre_base_de_datos
POSTGRES_USER=usuario
POSTGRES_PASSWORD=password

DJANGO_SUPERUSER_USERNAME=usuario_admin
DJANGO_SUPERUSER_EMAIL=email@ejemplo.com
DJANGO_SUPERUSER_PASSWORD=password_seguro